<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
    <th:block th:fragment="header">
        <div>

            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" sec:authorize="hasRole('ROLE_USER')">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        </ul>

                        <ul class="nav navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Master Data <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/admin/user/all"><i class="glyphicon glyphicon-lock"></i> User</a></li>
                                    <li><a href="/admin/status/all"><i class="glyphicon glyphicon-comment"></i> Status</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                            <li class="dropdown" id="user">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span sec:authentication="name"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a>
                                            <i class="glyphicon glyphicon-star"></i>
                                            <span class="text-muted" sec:authentication="principal.authorities"></span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a th:href="@{/logout}">
                                            <i class="glyphicon glyphicon-log-out"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
        </div>
    </th:block>
</body>
</html>